.boardgame__window {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boardgame__panel {
  height: 30px;
}

.boardgame__board {
  flex-grow: 1;
}

.boardgame__notations {
}

.boardgame__vnotation {
}

.boardgame__verticalnotations {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 20px;
}

.boardgame__verticalnotations > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.boardgame__horizontalnotations {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.boardgame__horizontalnotations > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.boardgame__palette {
  display: flex;
  width: 30px;
  font-size: 18px;
  color: #f0efef;
  font-weight: bold;
}

.boardgame__palette:first-child {
  flex-direction: column;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;

    & > .boardgame__palette-label {
      margin-top: auto;
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      padding: 2px;
    }
  }
}

.boardgame__palette:last-child {
  flex-direction: column-reverse;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 10px;

    & > .boardgame__palette-label {
      margin-top: 100%;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      padding: 2px;
    }
  }
}

.boardgame__palettepiece {
  display: block;
  height: 34px;
}

.boardgame__palettepiece > img {
  display: block;
  height: auto;
  max-width: 100%;
}

.boardgame__palettepiece > img:hover {
  cursor: pointer;
  border: 1px solid rgb(175, 175, 175);
}

.boardgame__checker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boardgame__checkertile {
  //box-shadow: inset 0px 0px 0px 0px white;
  //background-color: blue;
}

.boardgame__checkertile img {
  display: none;
}

.boardgame__checkertile:hover {
  box-shadow: inset 0px 0px 0px 1px white;
}

.boardgame__tilenotation {
  display: flex;
  flex-direction: column;
  color: black;
  text-shadow: 0px 1px white;
  font-size: 8px;
}

.boardgame__tilenotationx {
  background-color: blue;

  flex-grow: 1;
  justify-content: center;
}

.boardgame__tilenotationy {
  background-color: red;
}
.boardgame_hexagontile {
  background: red;
  width: 40px;
  height: 40px;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
