/*$terminal-dark: #111111;
$terminal-text: #d4d4d4; */

$terminal-dark: #314727;
$terminal-dark-brighter: #47723d;
$terminal-dark-darker: #1e2b1a;
$terminal-text: #c3ee4c;

$terminal-case: #535353;
$terminal-screenborder: #333333;

// Two rows, one for code, one for rest
.chemiassembler__wrapper {
  display: flex;
  flex-direction: column;
  background-color: $terminal-case;
  border: 1px solid $terminal-screenborder;
  padding: 10px;
}

.chemiassembler__header {
  margin: 0;
  margin-bottom: 2px;
  padding: 2px;
  padding-left: 4px;
  background-color: lighten($color: $terminal-dark-brighter, $amount: 5%);
}

.chemiassembler__window {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(165, 165, 165, 0.459);
  z-index: 10;
  border-radius: 20px;
  opacity: 0.3;

  // disable user and pointer events
  pointer-events: none;
  user-select: none;

  // Apply a computer screen effect
  &::before {
    pointer-events: none;
    user-select: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $terminal-dark;
    border-radius: 20px;
    opacity: 0.5;
  }
}

.chemiassembler__content {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: $terminal-dark;
  color: $terminal-text;
  font-family: monospace;
  border: 5px solid $terminal-screenborder;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 10px 0 $terminal-screenborder;

  &-left {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-right {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    background-color: $terminal-dark-brighter;

    // Create a box shadow 10px to the right and 10px below
    // With no fade
    box-shadow: 5px 5px 0 0 $terminal-dark-darker;

    &-register {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 10px;
      width: 33%;

      &-name {
        padding-right: 5px;
        font-weight: bold;
      }

      &-value {
        flex-grow: 1;
      }
    }

    &-variable {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2px;
    }

    &-register,
    &-variable,
    &-pointer,
    &-program,
    &-running {
      display: flex;
      flex-direction: row;
    }

    &-reservoirs {
      flex-grow: 1;
      display: flex;

      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.chemiassembler__content-reservoirs {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &-header {
    position: absolute;
    // Move it a bit up and to the right
    margin: -30px 0 0 0px;
    padding: 5px;
    background-color: lighten($color: $terminal-dark-brighter, $amount: 5%);
    box-shadow: 5px 5px 0 0 $terminal-dark-darker;
  }

  &-reservoir {
    display: flex;
    flex-direction: column;
    height: 40px;
    margin: 1%;
    width: 18%;
    background-color: darken($color: $terminal-dark-darker, $amount: 20%);
    cursor: pointer;

    &-wrapper {
      height: 100%;
      padding: 1px;
    }

    &-header {
    }

    &-tank {
      flex-grow: 1;

      &-reagants {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        &-reagant {
          height: 100%;
        }
      }
    }

    &-fill {
    }

    &-percent {
      font-size: 0.8em;
      background-color: $terminal-dark-brighter;
      color: $terminal-text;
      text-align: center;
      padding: 1px;
    }
  }
}

.chemiassembler__seperator {
  // Hide if overflow
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;

  font-weight: bold;

  text-align: center;
}

.chemiassembler__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 6px;

  & div {
    background-color: $terminal-dark;
    border: 1px solid $terminal-text;
    color: $terminal-text;
  }
}

.chemiassembler__codeeditor {
  // Use a good color for the code editor

  border: none;
  background-color: $terminal-dark;
  flex: 1;
  margin-bottom: 30px;
  overflow-y: scroll;

  &-code {
    padding-top: 2px;
    padding-left: 12px;
    width: 100%;
    &-line {
      height: 19px;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    &-line:hover {
      background-color: $terminal-dark-brighter;
    }
  }
}

.chemiassembler__linenumbers {
  display: flex;
  background-color: $terminal-dark-brighter;
  height: 100%;
  width: 28px;
  padding-right: 2px;
  line-height: 19px;
  box-shadow: 5px 5px 0 0 $terminal-dark-darker;

  &-cursor {
    background-color: $terminal-dark-brighter;
    height: 19px;
    line-height: 19px;
    transition: all 0.2s ease-in-out;
  }

  &-lines {
    flex-grow: 1;
    text-align: right;
    &-line {
      height: 19px;
      line-height: 19px;
      padding: 0;
      margin: 0;

      &-active {
        background-color: $terminal-dark;
      }
    }
  }
}

.chemiassembler__console {
  // Clear textarea
  // Apply 5px padding extra padding to bottom
  padding: 5px 5px 20px 5px;
  height: 130px;

  &-textarea {
    height: 100%;
    border: none;
    overflow-y: scroll;
    & > textarea {
      background-color: $terminal-dark-darker;
    }
  }
}
