.boardgame__window {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boardgame__panel {
  height: 30px;
}

.boardgame__board {
  flex-grow: 1;
}

.boardgame__palette {
  display: flex;
  width: 30px;
  font-size: 18px;
  color: #f0efef;
  font-weight: bold;
}

.boardgame__palette:first-child {
  flex-direction: column;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;

    & > .boardgame__palette-label {
      margin-top: auto;
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      padding: 2px;
    }
  }
}

.boardgame__palette:last-child {
  flex-direction: column-reverse;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 10px;

    & > .boardgame__palette-label {
      margin-top: 100%;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      padding: 2px;
    }
  }
}

.boardgame__palettepiece {
  display: block;
  height: 34px;
}

.boardgame__palettepiece > img {
  display: block;
  height: auto;
  max-width: 100%;
}

.boardgame__palettepiece > img:hover {
  cursor: pointer;
  border: 1px solid rgb(175, 175, 175);
}

.boardgame__checker {
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boardgame__checkertile {
  width: 12.5%;
  height: 12.5%;
}

.boardgame__blacktile {
  background-color: #b58863;
}

.boardgame__whitetile {
  background-color: #f0d9b5;
}
