@use '../base.scss';

.gameclock__configmodal {
  z-index: 20;
}

.gameclock__configmodal > .Dimmer__inner {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5%;
  width: 80%;
  height: 70%;
}

.gameclock__configmodalbuttoncontainer {
  padding-top: 5%;
}

.gameclock__side {
  padding: 8px;
}

.gameclock__sideicon {
  text-align: center;
  font-size: 24px;
  padding-bottom: 8px;
}

.gameclock__timebutton {
  width: 100%;
  height: 130px;
  margin: 2px;
  text-align: center;
  font-size: 2em;
}

.gameclock__timeflex {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gameclock__timebutton > i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gameclock__swap {
  padding-top: 16px;
}

.gameclock__utilbutton {
  width: 28px;
  height: 28px;
  margin: 6px;
}

.gameclock__utilbutton > i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gameclock__mid {
  padding-top: 36px;
}
