.jukebox-key {
  height: 20px;
  padding: 0px 30px 0px 10px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-weight: bold;
}

.jukebox-key-white {
  background: rgb(200, 200, 200);
  background: linear-gradient(
    90deg,
    rgba(200, 200, 200, 1) 0%,
    rgba(217, 217, 217, 1) 21%,
    rgba(238, 238, 238, 1) 100%
  );
  border-right: 4px solid rgb(200, 200, 200);
  color: black;
  border-bottom: 1px solid grey;
  border-top: white;
}

.jukebox-key-black {
  color: white;
  background: black;
}
